필요한 내용 메모 및 코드 작업 진행하기
1) 기술통계, 회귀분석, 상관분석을 작업
2) 히토그램, 파이차트, 산정도, 히트맵 등으로 시각화

# 와인 품질 등급 예측하기
## 와인 속성을 분석해서 품질 등급 예측
### 데이터 수집, 레드와인, 화이트와인, 머신러닝 저장소 래포지토리 사이트 최근 확인 -> data가 not found -> 그래서 따로 다운받아 제공
### 탐색, 정보확인 info()함수 이용예정

### 기술 통계확인, describe() : 기본 평균, 분산, 편차, 최소, 최대 등 통계관련 데이터 간단히 요약
### unique() :  중복제거, value_counts() : 해당 데이터의 갯수를 집계

## 데이터 모델링 
### 1) 데이터 두 그룹으로 비교 분석, 
### 2) t-검정, 두 그룹을 비교하는 분석, 라이브러리를 이용할 예정. scipy 패키지의 ttest_ind()
### 3) 회귀분석, 라이브러리  statsmodels.formula.api , ols()

### 등급 예측 
### 샘플을 독립변수 (x) -> 회귀분석 모델 적용 -> 종속 변수(y) -> 품질 예측.

# 용어 정리
## 기술통계 :  
- 데이터 특성을 나타내는 수치를 이용해 분석을 하는 기본적인 통계방법
- 요약통계라고도 함.
- 통계값으로 평균, 중앙값, 최빈값 등 대표적 표준편차, 사분위 값.

## 회귀분석
- 독립변수 x, 종속변수 y간의 서로 간의 연관성을 파악하기 위한 분석기법
- 하나의 변수가 다른 변수에 어떤 영향을 주냐, 인과관계를 분석시 많이 사용함
- 선형회귀 (직선을 이용한다)
- 수식 => y = b1 + b2x + b3x + ..... + bnx

## t-검정
- 데이터에서 찾은 평균으로 두 그룹에 차이가 있는지 확인하는 방법
- 예) red wine, white wine의 1등급 2등급인지 유무에 따라

In [29]:
# 데이터 준비
# 파일 정리 간단히 하기
# 초기 데이터 세미콜론으로 구분이 되어 있어서 -> csv파일로 변경
# pandas 미설치 시 쥬피터 노트북코드로 설치 : !pip install pandas
# cmd 터미널 설치시 -> pip install pandas

import pandas as pd

# 레드와인을 csv 파일로 읽어서 -> 메모리 이동 -> csv 파일로 변경하기. 
# header = 0 , csv 파일의 첫번째 행에 열이름 포함. 
# engine = 'python' , 보통은 C 엔진을 사용하지만, 경우에 따라서, 또는 파싱의 형태의 
# 따라서, 파이썬 엔진을 사용하기도 함. 
red_df = pd.read_csv("/Users/minkyoungkim/WorkSpace/BITC/WorkSpace/11-BigdataTest/My_Python/1-통계분석/winequality-red.csv",
sep=';', header = 0, engine = 'python')

# csv 파일 형식으로 옮기기 
# index=False ,데이터프레임(DF로 표현 중) 행의 레이블을 csv에 쓰지 않음. 
red_df.to_csv("/Users/minkyoungkim/WorkSpace/BITC/WorkSpace/11-BigdataTest/My_Python/1-통계분석/winequality-red2.csv", index=False)

In [30]:
# 화이트와인을 csv 파일로 읽어서 -> 메모리 이동 -> csv 파일로 변경하기. 
white_df = pd.read_csv("/Users/minkyoungkim/WorkSpace/BITC/WorkSpace/11-BigdataTest/My_Python/1-통계분석/winequality-white.csv",
sep=';', header = 0, engine = 'python')

# csv 파일 형식으로 옮기기 
white_df.to_csv("/Users/minkyoungkim/WorkSpace/BITC/WorkSpace/11-BigdataTest/My_Python/1-통계분석/winequality-white2.csv", index=False)

# 용어

fixed acidity, (고정산)
volatile acidity,( 휘발산)
citric acid,(구연산)
residual sugar,(잔당)
chlorides,(염화물)
free sulfur dioxide,(유리 이산화황)
total sulfur dioxide,(총 이산화황)
density,(밀도)
pH,
sulphates,(황산염)
alcohol,(알코올)
위에 변수 :
독립 변수
======================
종속변수
quality, (품질)
=========================
데이터 전처리가 다 되어 있고, 
나열 할 때, 
독립 변수 순서  다음으로 종속 변수를 마지막에 표기한다.

In [31]:
# 레드 와인, 화이트 와인의 샘플 데이터
# head() 상위 5개씩 추출해서 출력해보기. 
# 레드 와인, 
red_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [32]:
white_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [33]:
# 데이터 병합하기. 
# 레드 와인, 화이트 와인 합치기
# 레드 와인 csv 파일에 , 컬럼을 추가하기. 
# type 이라고, red , white 인지 분류를 위해서. 
# insert 특정 열 추가. 
red_df.insert(0, column="type", value="red")
red_df.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,red,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,red,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,red,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [17]:
#white_df.insert(0, column="type", value="white")
white_df.head()

# 각 행 열의 구조 
white_df.shape

(4898, 12)

In [25]:
# 레드 , 화이트 와인 타입 열 추가 후 병합(합치기)
wine = pd.concat([red_df,white_df])

In [26]:
#결과조회
wine.shape

(6497, 13)

In [27]:
wine.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,red,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,red,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,red,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [34]:
# red, white 합친 메모리의 내용을 -> csv 파일로 쓰기. 
# csv 파일 형식으로 옮기기 
wine.to_csv("/Users/minkyoungkim/WorkSpace/BITC/WorkSpace/11-BigdataTest/My_Python/1-통계분석/wine.csv",
index=False)

In [35]:
# 합쳐진 데이터를 가지고 , 기본 통계 분석하기, 파이썬의 라이브러리 활용해보기. 
# 기본 정보 
print(wine.info())

<class 'pandas.core.frame.DataFrame'>
Index: 6497 entries, 0 to 4897
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  1599 non-null   object
 1   fixed acidity         6497 non-null   float64
 2   volatile acidity      6497 non-null   float64
 3   citric acid           6497 non-null   float64
 4   residual sugar        6497 non-null   float64
 5   chlorides             6497 non-null   float64
 6   free sulfur dioxide   6497 non-null   float64
 7   total sulfur dioxide  6497 non-null   float64
 8   density               6497 non-null   float64
 9   pH                    6497 non-null   float64
 10  sulphates             6497 non-null   float64
 11  alcohol               6497 non-null   float64
 12  quality               6497 non-null   int64
dtypes: float64(11), int64(1), object(1)
memory usage: 710.6+ KB
None